.page-container {
    /* background-color: var(--accent1); */
    padding: 20px;
  }
   
  .all-products{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  .page-title {
    font-size: 24px;
    text-align: center;
    color: var(--accent1);
  }
  
  .page-divider {
    border: none;
    border-top: 1px solid var(--accent1);
  }
  
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .all-products > * {
    flex-basis: calc(25% - 100px);
  margin-bottom: 20px;
  }
  .product-image-container {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--accent); */
  }
  
  .product-image {
    max-width: 100%;
    max-height: 100%;
  }
  
  .product-details {
    margin-top: 10px;
    text-align: center;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--accent1);
  }
  
  .product-price {
    font-size: 14px;
    color: var(--accent1);
  }
  
  .product-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--primary);
    color: var(--accent1);
    text-decoration: none;
    border-radius: 5px;
  }

  .product-button:hover{
    background-color: var(--accent);
  }