.navbar {
	height: 19vh;
	background-color: var(--primary);
	position: relative;
	z-index: 2;
}

.logo {
	font-size: 30px;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	width: 75%;
	color: var(--accent1);
}

.containerr {
	max-width: 100%;
	height: 19vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links li {
	font-size: 20px;
	padding: 0 10px;
	margin: 0 10px;
	text-transform: capitalize;
}

.nav-links li:hover {
	color: var(--accent);
}

button {
	border: none;
	background: none;
	font-size: 20px;
}

.mobile-menu-icon {
	display: none;
}

/* @media (max-width: 768px) {
	.logo {
		display: flex;
		position: absolute;
		top: 15px;
		left: 35px;
	}

	.nav-links {
		display: none;
	}

	.nav-links-mobile {
		position: absolute;
		display: block;
		list-style: none;
		left: 0;
		top: 10%;
		transition: all 0.5s ease-in-out;
		width: 100%;
		background-color: var(--primary);
		z-index: 1;
	}

	ul li {
		padding: 32px;
		width: 100%;
		transition: all 0.5s ease-in-out;
		text-align: center;
		color: var(--accent1);
	}

	.nav-links li:nth-child(4) {
		display: none;
	}

	.mobile-menu-icon {
		position: absolute;
		display: block;
		right: 20px;
	}

	ul .registration {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	.dropdown {
		position: static; 
	}

	.dropdown:hover .dropdown-content {
		display: none;
	}

	
} */
@media screen and (max-width: 768px) {
	.logo {
	  display: flex;
	  position: absolute;
	  top: 15px;
	  left: 35px;
	}
  
	.nav-links {
	  display: none;
	}
  
	.nav-links-mobile {
	  position: absolute;
	  /* margin-top: 155px; */
	  display: block;
	  list-style: none;
	  left: 0;
	  top: 88%;
	  transition: all 0.5s ease-in-out;
	  width: 90%;
	  background-color: var(--primary);
	  z-index: 1;
	}
  
	.nav-links-mobile li {
	  padding: 1rem;
	  display: flex;
	  justify-content: center;
	  width: 100%;
	  transition: all 0.5s ease-in-out;
	  text-align: center;
	  color: var(--accent1);
	}
  
	.nav-links-mobile li:nth-child(4) {
	  display: none;
	}
  
	.mobile-menu-icon {
	  position: absolute;
	  display: block;
	  right: 20px;
	}
  
	ul .registration {
	  display: flex;
	  flex-direction: column;
	  margin: 0 auto;
	}
  
	.dropdown {
	  position: relative;
	}
  
	.dropdown:hover .dropdown-content {
	  display: block;
	}
  
	.dropdown-content {
	  display: none;
	  position: absolute;
	  top: 100%;
	  left: 0;
	  background-color: var(--accent);
	  padding: 10px;
	  width: 180px;
	  z-index: 1;
	}
  
	.dropdown-content a:hover {
	  color: var(--primary);
	}
  }
.registration {
	display: flex;
	flex-direction: flex-end;
	gap: 1;
	margin-left: 14px;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--accent);
	padding: 10px;
	width: 180px;
	z-index: 1;
}

.dropdown-content a:hover {
	color: var(--primary);
}

.dropdown-content li {
	margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.icon-nav {
	position: absolute;
	bottom: 0;
}
