/* .side-comp {
  height: 98vh;
  display: flex;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
}

.side-comp__sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 300ms ease;
  width: 300px;
  background-color: var(--accent);
  border-radius: 5px;
  justify-content: center;
}

.side-comp__bars {
  display: none;
}

.side-comp__logo {
  display: flex;
  flex-direction: column;
  height: 10rem;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  height: 4%;
}



.side-comp__logo>span>span {
  color: var(--accent);
}

.side-comp__logo>img {
  width: 10rem;
  height: 10rem;
  margin-top: 6pc;
}

.side-comp__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.menuItem {
  color: var(--primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 1.6rem;
  margin-left: 2rem;
  padding-right: 10px;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
}

.menuItem:hover {
  cursor: pointer;
}

.side-comp a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 14px;
}

.active {
  background: var(--secondary);
  margin-left: 0;
}

.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--primary);
  margin-right: calc(1rem - 8px);
}



@media screen and (max-width: 768px) {
  .side-comp__sidebar {
    display: none;
  }

  .menuItem>span {
    display: block;
  }

  .side-comp__logo {
    display: flex;
  }

  .side-comp__menu {
    gap: 0;
  }

  .side-comp__menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }

  .side-comp__bars {
    display: flex;
    position: fixed;
    top: 2rem;
    left: 60%;
    background: var(--activeItem);
    padding: 10px;
    border-radius: 10px;
    z-index: 9;
  }
}

.side_content {
  color: var(--primary);
} */

  
  .side-comp {
    height: 98vh;
    display: flex;
    justify-content: flex-start;
    font-family: "Inter", sans-serif;
  }
  
  .side-comp__sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 300ms ease;
    width: 300px;
    background-color: black;
    border-radius: 5px;
    justify-content: center;
  }
  
  
  .side-comp__bars {
    display: none;
  }
  
  .side-comp__logo {
    display: flex;
    flex-direction: column;
    height: 10rem;
    font-weight: bold;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    height: 4%;
  }
  
  .side-comp__logo > span > span {
    color: var(--accent);
  }
  
  .side-comp__logo > img {
    width: 10rem;
    height: 10rem;
    margin-top: 6pc;
  }
  
  .side-comp__menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 10px;
  
  }
  
  .menuItem {
    color: var(--accent1);
    /* background-color:var(--accent1); */
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 1.6rem;
    margin-left: 2rem;
    padding-right: 10px;
    position: relative;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    font-size: 14px;
  }
  
  .menuItem:hover {
    cursor: pointer;
  }
  
  .side-comp a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 14px;
    color: var(--accent1);
  }
  
  
  .logoutButton{
    color: var(--accent1);
    margin-left: 55px;
    cursor: pointer;
  }
    
  .active::before {
    content: "";
    width: 8px;
    height: 100%;
    background: var(--primary);
    margin-right: calc(1rem - 8px);
  }
  
  @media screen and (max-width: 768px) {
    .side-comp__sidebar {
      display: none;
    }
    .menuItem > span {
      display: block;
    }
    .side-comp__logo {
      display: flex;
    }
  
    .side-comp__menu {
      gap: 0;
    }
    .side-comp__menu .menuItem:last-child {
      position: relative;
      margin-top: 6rem;
    }
    .side-comp__bars {
      display: flex;
      position: fixed;
      top: 2rem;
      left: 60%;
      background: var(--activeItem);
      padding: 10px;
      border-radius: 10px;
      z-index: 9;
    }
  }
  
  .side_content {
    color: var(--primary);
  }