.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 0.75rem;
    margin-top: 7.5rem;
}
.grid{
    display: grid;
    gap:1.5rem;
}
.btn{
    display: inline-block;
    color: var(--accent1);
    background-color:var(--primary);
    border: 2px solid ;
    padding: 1rem 1.5rem;
    border-radius: var(--radius);
}

.btn:hover{
background-color: var(--accent);
}

.section{
    padding-block: 7.5rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--accent1);
}